apiVersion: v1 
kind: ConfigMap 
metadata: 
 name: cart 
 namespace: roboshop 
data: 
  # REDIS_HOST: "redis"
  # CATALOGUE_HOST: "catalogue"
  REDIS_HOST: "{{ .Values.configMap.REDIS_HOST }}"
  CATALOGUE_HOST: "{{ .Values.configMap.CATALOGUE_HOST }}"
  CATALOGUE_PORT: "8080"
---
apiVersion: apps/v1 
kind: Deployment 
metadata: 
 name: cart 
 namespace: roboshop
 labels: 
 # these are replica set labels 
  project: roboshop
  component: cart
  tier: backend
spec:
 replicas: 1 
 selector: 
  matchLabels:
  # these labels are used to select pods
    project: roboshop
    component: cart
    tier: backend 
 template: 
  metadata:
   labels:
    project: roboshop
    component: cart
    tier: backend
  spec:
   containers: 
    - name: cart 
      image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}" 
      imagePullPolicy: Always 
      envFrom: 
      - configMapRef: 
         name: cart 
      ports:
       - name: liveness-port
         containerPort: 8080
      readinessProbe:
        httpGet:
          path: /health
          port: liveness-port
        failureThreshold: 1
        periodSeconds: 15
      livenessProbe:
        httpGet:
          path: /health
          port: liveness-port
        failureThreshold: 1
        periodSeconds: 15




     
   
   
  
  